@model TicketAddEditViewModel

@{
    var ticket = Model.Model;
    ViewData["Title"] = $"Sửa lệnh sản xuất (#{ticket.Id}) {ticket.Name}";
}

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2>@ViewData["Title"].</h2>
    </div>
    <div class="modal-body">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form id="form" mc-smart-serialize="true" class="form-horizontal">
            @Html.Partial("_TicketDetail", Model)
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary js-save-btn"
                mc-modal-post-url="/Ticket/Update/">
            <i class="glyphicon glyphicon-floppy-disk"></i>
            Lưu
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">
            <i class="glyphicon glyphicon-remove"></i>
            Hủy
        </button>
    </div>
</div>
